* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f3e02;
}
body {
  background-color: #deb887;
}
main {
  margin: 3em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #f5efda;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  padding-top: 1em;
}
h3 {
  text-align: left;
  padding-top: 1em;
}
#search-dish {
  margin: 0.1em;
}
#search-dish input {
  margin-top: 1em;
  padding: 0.2em;
  font-size: 1.5em;
  width: 90%;
  max-width: 20em;
}
#dish-list {
  text-align: center;
}

#dish-list img {
  width: 80%;
  max-width: 400px;
  margin: 2em auto;
}
#description {
  margin: 1em 2em;
  line-height: 1.5em;
  padding-bottom: 2em;
  text-align: center;
}
p {
  text-align: left;
}
.link {
  color: rgb(22, 22, 133);
  cursor: pointer;
  padding: 0.3em 0;
}
.link:hover {
  background-color: rgb(255, 249, 249);
}
#back {
  font-size: 1.2em;
  text-align: center;
  margin-top: 0.4em;
}
#back span {
  padding: 0.3em 1em;
}
#back span:before {
  content: '';
  display: inline-block;
  background: url('arrow-back.png') no-repeat;
  background-size: 12px;
  width: 16px;
  height: 16px;
  margin: 0 6px -1px 0;
}
ul {
  text-align: center;
  list-style-type: none;
  margin-top: 1em;
}

#error {
  padding: 1em;
}

#listOfIngredients {
  text-align: left;
}
